.*.swp
var/cache/*
var/log/*
var/db/*
var/run/*
var/sstore/*
var/sessions/data/*
var/sessions/lock/*
.~*
*~
*.pgdump
*.pgdump.gz
*.pyc
__pycache__
etc/*secrets.yaml
etc/**/*secrets.yaml
downloads
art
build
dist
PySite.egg-info
.coverage
_tmp*
priv/*
