{% for i in range(5) -%}
    {{ i }}: hello from jinja
{% endfor %}

{% set some_var="SOME VARIABLE" %}

{% assets "12122", bar="baz", "555", foo, egon="susi", "ghghg", zip %}
inside assets block BEGIN_URL {{ ASSET_URL|safe }} END_URL BEGIN_EXTRA {{ EXTRA }} END_EXTRA
{{ some_var }}
{% endassets %}

{% filter markdown %}

This is Markdown
================

dflkjahflafdf kwewer werj qwölkrjwöekr 
{: #first-para .some-css-class data-foo="bar" }

- aaa
- bbb
- ccc


Col 1 | Col 2 | Right Aligned
------|-------|--------------:
cell1 | cell2 | 1000
cell3 | cell4 |    12.45



{{ some_var }}

{% endfilter %}
